.cv-container{
  border: 0px solid grey;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: 10px;
}

.cv-head{
  text-align: center;
  justify-content: center;
}

.cv-title {
  font-size: $base-font-size*1.3;
}

.cv-description {
  width: 70%;
}
.cv-position {
  font-size: $base-font-size*1.1;
}

.cv-profile {
  width: 20%;
  margin-right: 15px;
  text-align:center;
}

.img-circular{
  width: 20%;
  border-radius: 50%;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
