// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.card-list {
  margin: 0 15%;
}

.game-card img, .card-list img{
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 0.6s;
  opacity: 1;
  margin-bottom: 30px;
}

.game-card img {
  height: 8rem;
  margin-bottom: 10px;
}

.game-card img:hover, .card-list img:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.card-list h1 {
  text-align: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
}

.game-card {
  width: 8rem;
  margin: 1.5rem;
  text-align: center;
}
