// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.small-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.second-meta {
  font-size: $second-font-size;
  color: $brand-color;
}

.title-meta {
  font-weight: 500;
}

// home page post
.custom-post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
}

.post-card {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  weight: 100%;
  height: 90px;
  display: flex;
}

.post-description{
  padding: 10px 10px;
  width: 73%;
  overflow: hidden;
}

.post-banner{
  background-position: 50% 50%;
  background-size: cover;
  width: 27%;
}


//--------------------------------------------------------------
// post page
.post {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: $on-large) {
  .post {
    width: 100%;
    margin: 0 0;
  }
}


// game page
.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
}

.game-card {
  width: 100%;
  text-align: center;
}

.game-card img {
  width: 100px;
  height: 100px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 0.6s;
  opacity: 1;

}

.game-card img:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

// --------------------------------------------------------------
// gallery page
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  grid-auto-flow: dense;
  margin-top: 30px;
}

.gallery-grid > .hover-image.row2-col1{
  grid-row: span 2;
  grid-column: span 1;
}

.gallery-grid > .hover-image.row2-col2{
  grid-row: span 2;
  grid-column: span 2;
}

.gallery-grid > .hover-image.row1-col2{
  grid-row: span 1;
  grid-column: span 2;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hover-image {
  height: 100%;
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.figure-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;

}

.hover-image:hover .image {
  filter: brightness(70%);
}

.hover-image:hover .middle {
  opacity: 1;
}


// general-grid
.gen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-gap: 15px;
}

.gen-card {
  background-color: #7FFFD4;
  color: white;
}
