// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.card-list {
  margin: 0 10%;
}

.grey-meta {
  color: $brand-color;
}


.game-card img, .card-list img{
  border-radius: 20px;
  overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease, box-shadow 0.2s ease, transform 0.6s;
  opacity: 1;
  margin-bottom: 30px;
}

.custom-post-list{
  display: flex;
  margin: 0 auto;
}

.post-card {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: 120px;
  display: flex;
}

@media screen and (max-width: $on-large) {
  .custom-post-list {
    display: block;
  }
  .post-card {
    width: 100%;
  }
}


.post-description{
  padding: 1rem;
  width: 70%;
}

.post-banner{
  background-position: 50% 50%;
  background-size: cover;
  border: 0.5px solid rgba(0,0,0,.15);
  width: 30%;
}

.game-card img {
  height: 8rem;
  margin-bottom: 10px;
  background-color: white;
}

.game-card img:hover, .card-list img:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.card-list h1 {
  text-align: center;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
}

.game-card {
  width: 8rem;
  margin: 1.5rem;
  text-align: center;
}
