// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.game-domain {
  background-color: black
}
.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  padding: 15px 2px;
  width: 200px;
  color: white;
  font-size: 40px;
  font-family: sans-serif;
  position: relative;
  transition: all 0.3s ease;
}

.badge {
  background: orange;
  font-size: 18px;
  padding:2px 14px;
  font-weight: bold;
  font-family: sans-serif;
}

#user-label{
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label{
  position: absolute;
  top: 30px;
  right:-25px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choices {
  text-align: center;
  margin-top: 50px
}

.choice {
  border: 4px solid white;
  border-radius: 40%;
  padding: 2px;
  margin: 0 5px;
  display: inline-block;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: white;
}

#action-message {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.green-glow {
  background-color: green;
}

.red-glow {
  background-color: red;
}

.grey-glow {
  background-color: orange;
}
